node-red-data/flows.json
[{"id":"624467b4adec59f6","type":"tab","label":"ocr extractor","disabled":false,"info":"","env":[]},{"id":"8d160de659dc0e01","type":"tab","label":"cropper","disabled":false,"info":"","env":[]},{"id":"f1","type":"http in","z":"624467b4adec59f6","name":"","url":"/image/nr-ocr-extractor","method":"get","upload":false,"swaggerDoc":"","x":280,"y":120,"wires":[["f2"]]},{"id":"f2","type":"function","z":"624467b4adec59f6","name":"","func":"const url = msg.payload.url;\nreturn fetch(url)\n    .then(response => response.buffer())\n    .then(buffer => {\n        msg.payload = {\n            'file': {\n                \"value\": buffer,\n                \"options\": {\n                    \"filename\": \"myfile.jpg\"\n                }\n            }\n        };\n        msg.headers = {\n            'Content-Type': 'multipart/form-data'\n        };\n        return msg;\n    });","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[{"var":"fetch","module":"node-fetch"}],"x":480,"y":120,"wires":[["f3"]]},{"id":"f3","type":"http request","z":"624467b4adec59f6","name":"file","method":"POST","paytoqs":"ignore","url":"http://nginx/image/ocr-extractor","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":620,"y":120,"wires":[["f4"]]},{"id":"f4","type":"http response","z":"624467b4adec59f6","name":"cropperResponse","statusCode":"","headers":{},"x":880,"y":120,"wires":[]},{"id":"859ca3ddb7fbb102","type":"http in","z":"8d160de659dc0e01","name":"","url":"/image/nr-cropper","method":"get","upload":false,"swaggerDoc":"","x":320,"y":220,"wires":[["8a80ef6fbb752931"]]},{"id":"8a80ef6fbb752931","type":"function","z":"8d160de659dc0e01","name":"","func":"const url = msg.payload.url;\nreturn fetch(url)\n    .then(response => response.buffer())\n    .then(buffer => {\n        msg.payload = {\n            'file': {\n                \"value\": buffer,\n                \"options\": {\n                    \"filename\": \"myfile.jpg\"\n                }\n            },\n            'width': 660,\n            'height': 60,\n            'x': 100,\n            'y': 325,\n        };\n        msg.headers = {\n            'Content-Type': 'multipart/form-data'\n        };\n        return msg;\n    });","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[{"var":"fetch","module":"node-fetch"}],"x":500,"y":220,"wires":[["09155bfbcc984d2b"]]},{"id":"09155bfbcc984d2b","type":"http request","z":"8d160de659dc0e01","name":"file","method":"POST","ret":"bin","paytoqs":"ignore","url":"http://nginx/image/cropper","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":680,"y":220,"wires":[["cd91ce3a903fe55b"]]},{"id":"cd91ce3a903fe55b","type":"http response","z":"8d160de659dc0e01","name":"","statusCode":"","headers":{"Content-type":"image/jpeg"},"x":870,"y":220,"wires":[]}]