node-red-data/flows.json
[{"id":"624467b4adec59f6","type":"tab","label":"v1 ocr extractor","disabled":false,"info":"","env":[]},{"id":"8d160de659dc0e01","type":"tab","label":"v1 cropper","disabled":false,"info":"","env":[]},{"id":"9fcfd28f01f2c25e","type":"tab","label":"v1 cropper + ocr","disabled":false,"info":"","env":[]},{"id":"c41425c6aa253692","type":"tab","label":"v2 ocr extractor","disabled":false,"info":"","env":[]},{"id":"29bc3c0b9a8dc97d","type":"tab","label":"v2 cropper","disabled":false,"info":"","env":[]},{"id":"326897b240f039e6","type":"tab","label":"v2 http cropper + ocr","disabled":false,"info":"","env":[]},{"id":"e419d4f38ecc3664","type":"subflow","name":"url2OcrForm","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"f2"}]}],"out":[{"x":380,"y":80,"wires":[{"id":"f2","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"650f91b87f2e1d96","type":"subflow","name":"url2CropperForm","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"8a80ef6fbb752931"}]}],"out":[{"x":400,"y":80,"wires":[{"id":"8a80ef6fbb752931","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"34d4b1069f9da7f3","type":"subflow","name":"ocrExtractor","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"3d25ae4195a8331e"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"1883e741fc1125c2","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"0a230ee123f0be59","type":"subflow","name":"cropper","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"b5fb91c06f7986ab"}]}],"out":[{"x":620,"y":80,"wires":[{"id":"12fe79b0a0dc28e4","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"c8e7195175443f24","type":"subflow","name":"url2Buffer","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"e9f16366d5313949"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"e9f16366d5313949","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"f2","type":"function","z":"e419d4f38ecc3664","name":"url2OcrForm","func":"const url = msg.payload.url;\nreturn fetch(url)\n    .then(response => response.buffer())\n    .then(buffer => {\n        msg.payload = {\n            'file': {\n                \"value\": buffer,\n                \"options\": {\n                    \"filename\": \"myfile.jpg\"\n                }\n            }\n        };\n        msg.headers = {\n            'Content-Type': 'multipart/form-data'\n        };\n        return msg;\n    });","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[{"var":"fetch","module":"node-fetch"}],"x":210,"y":80,"wires":[[]]},{"id":"8a80ef6fbb752931","type":"function","z":"650f91b87f2e1d96","name":"url2CropperForm","func":"const url = msg.payload.url;\nreturn fetch(url)\n    .then(response => response.buffer())\n    .then(buffer => {\n        msg.payload = {\n            'file': {\n                \"value\": buffer,\n                \"options\": {\n                    \"filename\": \"myfile.jpg\"\n                }\n            },\n            'width': 480,\n            'height': 90,\n            'x': 90,\n            'y': 260,\n        };\n        msg.headers = {\n            'Content-Type': 'multipart/form-data'\n        };\n        return msg;\n    });","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[{"var":"fetch","module":"node-fetch"}],"x":230,"y":80,"wires":[[]]},{"id":"3d25ae4195a8331e","type":"function","z":"34d4b1069f9da7f3","name":"ocrBuffer2form","func":"const buffer = msg.payload;\nmsg.payload = {\n    file: {\n        value: buffer,\n        options: {\n            filename: 'myfile.jpg'\n        }\n    }\n};\nmsg.headers = {\n    'Content-Type': 'multipart/form-data'\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[{"var":"fetch","module":"node-fetch"}],"x":220,"y":80,"wires":[["1883e741fc1125c2"]]},{"id":"1883e741fc1125c2","type":"http request","z":"34d4b1069f9da7f3","name":"ocrRequest","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://nginx/image/ocr-extractor","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":80,"wires":[[]]},{"id":"12fe79b0a0dc28e4","type":"http request","z":"0a230ee123f0be59","name":"cropperRequest","method":"POST","ret":"bin","paytoqs":"ignore","url":"http://nginx/image/cropper","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":460,"y":80,"wires":[[]]},{"id":"b5fb91c06f7986ab","type":"function","z":"0a230ee123f0be59","name":"cropperBuffer2form","func":"const buffer = msg.payload;\nmsg.payload = {\n    file: {\n        value: buffer,\n        options: {\n            filename: 'myfile.jpg'\n        }\n    },\n    'width': 480,\n    'height': 90,\n    'x': 90,\n    'y': 260,\n};\nmsg.headers= {\n    'Content-Type': 'multipart/form-data'\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[{"var":"fetch","module":"node-fetch"}],"x":230,"y":80,"wires":[["12fe79b0a0dc28e4"]]},{"id":"e9f16366d5313949","type":"function","z":"c8e7195175443f24","name":"url2Buffer","func":"return fetch(msg.payload.url)\n    .then(response => response.buffer())\n    .then(buffer => {\n        msg.payload = buffer;\n        return msg;\n    });\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fetch","module":"node-fetch"}],"x":200,"y":80,"wires":[[]]},{"id":"f1","type":"http in","z":"624467b4adec59f6","name":"","url":"/v1/image/nr-ocr-extractor","method":"get","upload":false,"swaggerDoc":"","x":230,"y":160,"wires":[["5f8742b1d6ab7018"]]},{"id":"f3","type":"http request","z":"624467b4adec59f6","name":"file","method":"POST","paytoqs":"ignore","url":"http://nginx/image/ocr-extractor","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":710,"y":160,"wires":[["f4"]]},{"id":"f4","type":"http response","z":"624467b4adec59f6","name":"ocrResponse","statusCode":"","headers":{},"x":930,"y":160,"wires":[]},{"id":"3ff66dfd4b7bcf89","type":"link in","z":"624467b4adec59f6","name":"ocr-extractor-link-in","links":["708394b1459dab66","68866f0b40029c3d","ad683e0e870c9e3f"],"x":115,"y":100,"wires":[["a63567b00849f86f"]]},{"id":"5f8742b1d6ab7018","type":"subflow:e419d4f38ecc3664","z":"624467b4adec59f6","name":"url2OcrForm","x":490,"y":160,"wires":[["f3"]]},{"id":"a63567b00849f86f","type":"function","z":"624467b4adec59f6","name":"buffer2OcrForm","func":"const buffer = msg.payload;\nmsg.payload = {\n    file: {\n        \"value\": buffer,\n        \"options\": {\n            \"filename\": \"myfile.jpg\"\n        }\n    }\n};\nmsg.headers = {\n    'Content-Type': 'multipart/form-data'\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":100,"wires":[["f3"]]},{"id":"859ca3ddb7fbb102","type":"http in","z":"8d160de659dc0e01","name":"","url":"/v1/image/nr-cropper","method":"get","upload":false,"swaggerDoc":"","x":210,"y":200,"wires":[["42a9c6b09f6f1167"]]},{"id":"09155bfbcc984d2b","type":"http request","z":"8d160de659dc0e01","name":"file","method":"POST","ret":"bin","paytoqs":"ignore","url":"http://nginx/image/cropper","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":220,"wires":[["bc73eea49216245a"]]},{"id":"cd91ce3a903fe55b","type":"http response","z":"8d160de659dc0e01","name":"cropperResponse","statusCode":"","headers":{"Content-type":"image/jpeg"},"x":1210,"y":260,"wires":[]},{"id":"ee2629dd8964247a","type":"subflow:650f91b87f2e1d96","z":"8d160de659dc0e01","name":"url2CropperForm","x":290,"y":360,"wires":[["09155bfbcc984d2b"]]},{"id":"f1e0953efc684a79","type":"link in","z":"8d160de659dc0e01","name":"cropper-link-in","links":["8f675eaa9f7cb381"],"x":115,"y":100,"wires":[["b446c21b1f6586a6"]]},{"id":"708394b1459dab66","type":"link out","z":"8d160de659dc0e01","name":"cropper-link-out","mode":"link","links":["3ff66dfd4b7bcf89","774fd63e8a3573a9"],"x":1135,"y":180,"wires":[]},{"id":"79a7321256c6a3aa","type":"switch","z":"8d160de659dc0e01","name":"","property":"callNextFlow","propertyType":"msg","rules":[{"t":"true"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":220,"wires":[["e9958fe6e2509103","708394b1459dab66"],["cd91ce3a903fe55b","509c427e3de531f9"]]},{"id":"b446c21b1f6586a6","type":"function","z":"8d160de659dc0e01","name":"enableCallNextFlow","func":"flow.set('callNextFlow', true)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"flow.set(\"trigger_flow_http_response\", false);","finalize":"","libs":[],"x":280,"y":100,"wires":[["09155bfbcc984d2b"]]},{"id":"bc73eea49216245a","type":"function","z":"8d160de659dc0e01","name":"sendCallNextFlowFlagToSwitch","func":"msg.callNextFlow = flow.get('callNextFlow');\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":220,"wires":[["79a7321256c6a3aa"]]},{"id":"e9958fe6e2509103","type":"debug","z":"8d160de659dc0e01","name":"NEXT_FLOW","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"callNextFlow","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":140,"wires":[]},{"id":"509c427e3de531f9","type":"debug","z":"8d160de659dc0e01","name":"HTTP_RESPONSE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"callNextFlow","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":300,"wires":[]},{"id":"42a9c6b09f6f1167","type":"function","z":"8d160de659dc0e01","name":"disableCallNextFlow","func":"flow.set('callNextFlow', false);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":280,"wires":[["ee2629dd8964247a"]]},{"id":"d8d963b3d17ce1f7","type":"http in","z":"9fcfd28f01f2c25e","name":"","url":"/v1/image/nr-cropper-ocr","method":"get","upload":false,"swaggerDoc":"","x":220,"y":100,"wires":[["2008bdde1356991a"]]},{"id":"8f675eaa9f7cb381","type":"link out","z":"9fcfd28f01f2c25e","name":"link out 1","mode":"link","links":["f1e0953efc684a79","d8a60226b569d190","ca1f70677d26873a"],"x":655,"y":100,"wires":[]},{"id":"2008bdde1356991a","type":"subflow:650f91b87f2e1d96","z":"9fcfd28f01f2c25e","name":"","x":490,"y":100,"wires":[["8f675eaa9f7cb381"]]},{"id":"dc13fb6432a5f0dd","type":"http in","z":"c41425c6aa253692","name":"","url":"/v2/image/nr-ocr-extractor","method":"get","upload":false,"swaggerDoc":"","x":230,"y":100,"wires":[["bd3986b89390e407"]]},{"id":"b6f303ed8060659b","type":"subflow:34d4b1069f9da7f3","z":"c41425c6aa253692","name":"","x":670,"y":100,"wires":[["8264b31c3aeca1d3"]]},{"id":"8264b31c3aeca1d3","type":"http response","z":"c41425c6aa253692","name":"ocrResponse","statusCode":"200","headers":{"content-type":"application/json"},"x":870,"y":100,"wires":[]},{"id":"bd3986b89390e407","type":"subflow:c8e7195175443f24","z":"c41425c6aa253692","name":"","x":480,"y":100,"wires":[["b6f303ed8060659b"]]},{"id":"2ad2f8a3a66f708c","type":"http in","z":"29bc3c0b9a8dc97d","name":"","url":"/v2/image/nr-cropper","method":"get","upload":false,"swaggerDoc":"","x":210,"y":100,"wires":[["3674de790a5dcd56"]]},{"id":"758fef32a375271f","type":"subflow:0a230ee123f0be59","z":"29bc3c0b9a8dc97d","name":"","x":620,"y":100,"wires":[["0c606d6089b50e5d"]]},{"id":"0c606d6089b50e5d","type":"http response","z":"29bc3c0b9a8dc97d","name":"cropperResponse","statusCode":"","headers":{"Content-type":"image/jpeg"},"x":830,"y":100,"wires":[]},{"id":"3674de790a5dcd56","type":"subflow:c8e7195175443f24","z":"29bc3c0b9a8dc97d","name":"","x":440,"y":100,"wires":[["758fef32a375271f"]]},{"id":"7753f0280d8a71ba","type":"http in","z":"326897b240f039e6","name":"","url":"/v2/image/nr-cropper-ocr","method":"get","upload":false,"swaggerDoc":"","x":260,"y":140,"wires":[["530c6c48505c856f"]]},{"id":"b8bd01827dff635a","type":"subflow:0a230ee123f0be59","z":"326897b240f039e6","name":"","x":680,"y":140,"wires":[["d6714c211adaf2ce"]]},{"id":"bc87fa17b90f6e68","type":"http response","z":"326897b240f039e6","name":"cropperOcrResponse","statusCode":"","headers":{"content-type":"application/json"},"x":1100,"y":140,"wires":[]},{"id":"d6714c211adaf2ce","type":"subflow:34d4b1069f9da7f3","z":"326897b240f039e6","name":"","x":870,"y":140,"wires":[["bc87fa17b90f6e68"]]},{"id":"530c6c48505c856f","type":"subflow:c8e7195175443f24","z":"326897b240f039e6","name":"","x":500,"y":140,"wires":[["b8bd01827dff635a"]]}]