node-red-data/flows.json
[{"id":"8d160de659dc0e01","type":"tab","label":"cropper","disabled":false,"info":"","env":[]},{"id":"624467b4adec59f6","type":"tab","label":"ocr extractor","disabled":false,"info":"","env":[]},{"id":"9fcfd28f01f2c25e","type":"tab","label":"cropper + ocr","disabled":false,"info":"","env":[]},{"id":"e419d4f38ecc3664","type":"subflow","name":"ocrBuffer2form","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"f2"}]}],"out":[{"x":380,"y":80,"wires":[{"id":"f2","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"650f91b87f2e1d96","type":"subflow","name":"cropperBuffer2form","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"8a80ef6fbb752931"}]}],"out":[{"x":400,"y":80,"wires":[{"id":"8a80ef6fbb752931","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"f2","type":"function","z":"e419d4f38ecc3664","name":"ocrBuffer2form","func":"const url = msg.payload.url;\nreturn fetch(url)\n    .then(response => response.buffer())\n    .then(buffer => {\n        msg.payload = {\n            'file': {\n                \"value\": buffer,\n                \"options\": {\n                    \"filename\": \"myfile.jpg\"\n                }\n            }\n        };\n        msg.headers = {\n            'Content-Type': 'multipart/form-data'\n        };\n        return msg;\n    });","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[{"var":"fetch","module":"node-fetch"}],"x":220,"y":80,"wires":[[]]},{"id":"8a80ef6fbb752931","type":"function","z":"650f91b87f2e1d96","name":"cropperBuffer2form","func":"const url = msg.payload.url;\nreturn fetch(url)\n    .then(response => response.buffer())\n    .then(buffer => {\n        msg.payload = {\n            'file': {\n                \"value\": buffer,\n                \"options\": {\n                    \"filename\": \"myfile.jpg\"\n                }\n            },\n            'width': 660,\n            'height': 60,\n            'x': 100,\n            'y': 325,\n        };\n        msg.headers = {\n            'Content-Type': 'multipart/form-data'\n        };\n        return msg;\n    });","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[{"var":"fetch","module":"node-fetch"}],"x":230,"y":80,"wires":[[]]},{"id":"859ca3ddb7fbb102","type":"http in","z":"8d160de659dc0e01","name":"","url":"/image/nr-cropper","method":"get","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["42a9c6b09f6f1167"]]},{"id":"09155bfbcc984d2b","type":"http request","z":"8d160de659dc0e01","name":"file","method":"POST","ret":"bin","paytoqs":"ignore","url":"http://nginx/image/cropper","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":830,"y":180,"wires":[["bc73eea49216245a"]]},{"id":"cd91ce3a903fe55b","type":"http response","z":"8d160de659dc0e01","name":"","statusCode":"","headers":{"Content-type":"image/jpeg"},"x":1450,"y":200,"wires":[]},{"id":"ee2629dd8964247a","type":"subflow:650f91b87f2e1d96","z":"8d160de659dc0e01","name":"cropperBuffer2form","x":570,"y":180,"wires":[["09155bfbcc984d2b"]]},{"id":"f1e0953efc684a79","type":"link in","z":"8d160de659dc0e01","name":"cropper-link-in","links":["8f675eaa9f7cb381"],"x":55,"y":80,"wires":[["b446c21b1f6586a6"]]},{"id":"708394b1459dab66","type":"link out","z":"8d160de659dc0e01","name":"cropper-link-out","mode":"link","links":["3ff66dfd4b7bcf89"],"x":1415,"y":120,"wires":[]},{"id":"79a7321256c6a3aa","type":"switch","z":"8d160de659dc0e01","name":"","property":"callNextFlow","propertyType":"msg","rules":[{"t":"true"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":180,"wires":[["e9958fe6e2509103","708394b1459dab66"],["cd91ce3a903fe55b","509c427e3de531f9"]]},{"id":"b446c21b1f6586a6","type":"function","z":"8d160de659dc0e01","name":"function 2","func":"flow.set('callNextFlow', true)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"flow.set(\"trigger_flow_http_response\", false);","finalize":"","libs":[],"x":380,"y":80,"wires":[["09155bfbcc984d2b"]]},{"id":"bc73eea49216245a","type":"function","z":"8d160de659dc0e01","name":"function 3","func":"msg.callNextFlow = flow.get('callNextFlow');\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":180,"wires":[["79a7321256c6a3aa"]]},{"id":"e9958fe6e2509103","type":"debug","z":"8d160de659dc0e01","name":"NEXT_FLOW","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"callNextFlow","targetType":"msg","statusVal":"","statusType":"auto","x":1470,"y":40,"wires":[]},{"id":"509c427e3de531f9","type":"debug","z":"8d160de659dc0e01","name":"HTTP_RESPONSE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"callNextFlow","targetType":"msg","statusVal":"","statusType":"auto","x":1490,"y":260,"wires":[]},{"id":"42a9c6b09f6f1167","type":"function","z":"8d160de659dc0e01","name":"function 5","func":"flow.set('callNextFlow', false);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":180,"wires":[["ee2629dd8964247a"]]},{"id":"f1","type":"http in","z":"624467b4adec59f6","name":"","url":"/image/nr-ocr-extractor","method":"get","upload":false,"swaggerDoc":"","x":220,"y":120,"wires":[["5f8742b1d6ab7018"]]},{"id":"f3","type":"http request","z":"624467b4adec59f6","name":"file","method":"POST","paytoqs":"ignore","url":"http://nginx/image/ocr-extractor","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":710,"y":120,"wires":[["f4"]]},{"id":"f4","type":"http response","z":"624467b4adec59f6","name":"cropperResponse","statusCode":"","headers":{},"x":950,"y":120,"wires":[]},{"id":"3ff66dfd4b7bcf89","type":"link in","z":"624467b4adec59f6","name":"ocr-extractor-link-in","links":["708394b1459dab66"],"x":115,"y":60,"wires":[["a63567b00849f86f"]]},{"id":"5f8742b1d6ab7018","type":"subflow:e419d4f38ecc3664","z":"624467b4adec59f6","name":"ocrBuffer2Form","x":460,"y":120,"wires":[["f3"]]},{"id":"a63567b00849f86f","type":"function","z":"624467b4adec59f6","name":"function 1","func":"const buffer = msg.payload;\nmsg.payload = {\n    file: {\n        \"value\": buffer,\n        \"options\": {\n            \"filename\": \"myfile.jpg\"\n        }\n    }\n};\nmsg.headers = {\n    'Content-Type': 'multipart/form-data'\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":60,"wires":[["f3"]]},{"id":"d8d963b3d17ce1f7","type":"http in","z":"9fcfd28f01f2c25e","name":"","url":"/image/nr-cropper-ocr","method":"get","upload":false,"swaggerDoc":"","x":330,"y":260,"wires":[["2008bdde1356991a"]]},{"id":"8f675eaa9f7cb381","type":"link out","z":"9fcfd28f01f2c25e","name":"link out 1","mode":"link","links":["f1e0953efc684a79"],"x":745,"y":260,"wires":[]},{"id":"2008bdde1356991a","type":"subflow:650f91b87f2e1d96","z":"9fcfd28f01f2c25e","name":"","x":570,"y":260,"wires":[["8f675eaa9f7cb381"]]}]